@font-face {
	font-family: 'myfont';
	src: url('/whytemono.otf') format('opentype');
  }
  
  html,
  body {
	padding: 0;
	margin: 0;
	font-family: 'myfont';
  }
  input{
	font-family: 'myfont';
  }
  input::placeholder{
	font-family: 'myfont';
  }