@font-face {
  font-family: 'myfont';
  src: url('/myfont.otf') format('opentype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'myfont', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}


